/* Corpo inteiro do formulário - direita */

label, #type{
    font: var(--body-sm);
    color: var(--text-body);
}

#about-event input{
    border: 1px solid var(--input-stroke);
    background-color: var(--input-base);
    height: 100%;
    padding: 6px;

    border-radius: 6px;

    color: var(--text-body);
    font: var(--body-md);
}



.text-header{
    font: var(--heading-sm);
    color: var(--text-heading);
}

#about-event .about-text{
    display: flex;
    flex-direction: row;

    align-self: end;

    img{
        padding-right: 10px;
    }
}


/* Botões de Tipo */
#button-type{
    display: flex;

    flex: 1;
    height: 100%;
    
    border: 1px solid var(--input-stroke);
    border-radius: 6px;

    label{
        display: flex;
        align-items: center;
        justify-content: center;

        position: relative;

        width: 100%;
        height: 100%;

        text-align: center;

        z-index: 1;
    }
    
    #div-hover{
        position: absolute;
        width: 100%;
        height: 80%;
        border-radius: 5px;
        background-color:var(--shape-hover);
        z-index: -1;
    }

    input[type="radio"] {
        display: none;
    }

}

/* Animação de marcação de botão */
#button-type:has(#presential:checked) #div-hover {
    transition: left 0.25s ease;
    left: 2%;
 }
#button-type:has(#online:checked) #div-hover {
    transition: left 0.25s ease;
    left: 97%; 
}



/* Animação do icone mudando de cor */

#presential-icon::before{
    content: url(../assets/building-2\ -\ unchecked.svg);
    padding: 5px;
    vertical-align: middle;
}

#online-icon::before{
    content: url(../assets/video-unchecked.svg);
    padding: 5px;
    vertical-align: middle;
}

#button-type:has(#presential:checked){
    #presential-icon::before{
        content: url(../assets/building-checked.svg);
    }
}
#button-type:has(#online:checked){
    #online-icon::before{
        content: url(../assets/video-checked-\ Copia.svg);
    }
}



textarea{
    border: 1px solid var(--input-stroke);
    background-color: var(--input-base);
    padding: 6px;
    border-radius: 6px;
    height: 150px;
    resize: none;
}

#body-form{
    display: flex;
    flex-direction: column;
    padding: 80px 130px 80px 130px;
    background-color: var(--shape-body);
    border-radius: 10px;
    margin-left: 10px;
}

#invite{
    font: var(--heading-md);
    color: var(--text-heading);

}

#about-event{
    display: grid;
    gap: 1rem;

    grid-template: 
    "about-space about-space" 
    "name-space name-space" 
    "start-space end-space" 
    "type-space local-space"  
    "description-space description-space";
    
    grid-template-columns: 1fr 1fr;

    > *{
        display: flex;
        flex-direction: column;
    }

    #about-space{grid-area: about-space;}
    #name-space{grid-area: name-space;}
    #start-space{grid-area: start-space;}
    #end-space{grid-area: end-space;}
    #type-space{grid-area: type-space;}
    #local-space{grid-area: local-space;}
    #description-space{grid-area: description-space;}
}

/* Area de customização */


/* Paleta de cores */
p{
    font: var(--body-sm);
    color: var(--text-heading);
}

#customization{
    display: grid;

    h2{
        font: var(--heading-sm);
        color: white;

    }

    h2::before{
        content: url(../assets/paintbrush-vertical.svg );
        width: 24px;
        height: 24px;
        padding-right: 8px;
    }
}

#main-color{

    display: flex;
    flex-direction: column;
    gap: 16px;

    .palette{
        display: flex;
        justify-content: space-evenly;
    }

    input{
        appearance: none;
        border-radius: 50px;
        width: 28px;
        height: 28px;
        
        cursor: pointer;
    }

    label{
        display: inline-block;
        box-sizing: content-box;
        border: 6px solid var(--shape-button);
        border-radius: 50%;
        width: 28px;
        height: 28px

        
    }

    label:has(input:checked){
        outline: 2px solid var(--brand-light);
    }

    #blue{background-color: var(--blue);}
    #navy{background-color: var(--navy);}
    #purple{background-color: var(--purple);}
    #fuschia{background-color: var(--fuschia);}
    #pink{background-color: var(--pink);}
    #danger{background-color: var(--danger);}
    #orange{background-color: var(--orange);}
    #yellow{background-color: var(--yellow);}
    #lime{background-color: var(--lime);}
    #green{background-color: var(--green);}
    #cyan{background-color: var(--cyan);}
}

/* Opções de tema do Evento */

.event-theme{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;

    label{
        display: flex;
        flex-direction: column;
        
        position: relative;

        background-color: var(--shape-button);

        border-radius: 12px;

        width: 100%;
        height: 100%;

        img{
            object-fit: cover;
            width: 100%;
            height: 75%;
            padding: 6px;
            border-radius: 12px;
        }

        span{
            font: var(--body-md);
            color: var(--text-heading);
            align-self: center;
        }
        
    }

    label:has(input:checked){
        outline: 5px solid var(--brand-light);
    }

    
    input{
        appearance: none;
        position: absolute;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }


}

/* Seção de estilo e arquivo */

#mode-field{
    display: flex;
    justify-content: flex-start;
    gap: 300px;
}

/* Botão de estilo escuro */

#main-dark{
    display: flex;
    flex-direction: column;
    gap: 10px;

    #dark-text, #light-text{
        position: absolute;
        left: 120%;
        top: 20%;
    }
}


#dark-mode{

    display: block;
    position: relative;
    width: 64px;
    height: 32px;
    border-radius: 32px;
    background-color: var(--input-base);
    border: 1px solid var(--input-stroke);

    #dark-mode-button{
        width: 24px;
        height: 24px;
        background-color: var(--input-stroke);
        border-radius: 50%;
        position: absolute;
        cursor: pointer;

        top: 12%;
        left: 5%;

        transition: left 0.25s ease;
    }

    input{
        appearance: none;
        
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
    
    #light-text{
        display: none;
    }
}

#dark-mode:has(input:checked) #dark-mode-button{
    left: 55%;
    background-color: white;
    transition: left 0.25s ease, background-color 0.5s ease;
}

#dark-mode:has(input:checked){
    background-color: var(--cyan);
    transition: background-color 0.5s ease;

    #dark-text{
        display: none;
    }
    
    #light-text{
        display: block;
    }
}

/* Seção foto de capa botão de selecionar */


#cover-photo{
    display: flex;
    flex-direction: column;


    label{
        display: flex;
        align-items: center;

        gap: 10px;
        padding: 10px;

        min-width: 120px;
        height: 40px;

        background-color: var(--shape-button);
        border-radius: 6px;
        
        cursor: pointer;
    }

    label:hover{
        outline: 2px solid var(--cyan);
    }

    input{
        display: none;
    }
}

/* Área de entrar em contato */

.input-body{
    border: 1px solid var(--input-stroke);
    background-color: var(--input-base);
    height: 100%;
    padding: 6px;

    border-radius: 6px;

    color: var(--text-body);
    font: var(--body-md);
}

#contact-field{
    display: flex;
    flex-direction: column;
    border: none;

    legend{
        font: var(--heading-sm);
        color: white;
    }

    legend::before{
        content: url(../assets/contact.svg);
        vertical-align: middle;
        padding-right: 8px;
    }

    #name-field{
        display: grid;
    }
    
    #contact{
        display: grid;
        gap: 16px;
        grid-template-columns: repeat(2, 1fr);

        div{
            display: grid
        }
    }

    input{

    }
}

/* Seção dos aceito de termos */

#terms{


    div{
        display: flex;
        padding-block: 6px;
    }
    
    p{
        padding-left: 6px;
    }

    label{
        display: flex;

        cursor: pointer;
        width: 18px;
        height: 18px;
        border: 1px solid var(--input-stroke);
        background-color: var(--input-base);
        border-radius: 4px;

        input{
            appearance: none;
        }
    }

    label:has(input:checked){
        border: 1px solid var(--brand-light);
        background-image: url(../assets/check.svg);
    }
}