/* Corpo inteiro do formulário - direita */

label, #type{
    font: var(--body-sm);
    color: var(--text-body);
}

input{
    border: 1px solid var(--input-stroke);
    background-color: var(--input-base);
    height: 100%;
    padding: 6px;

    border-radius: 6px;

    color: var(--text-body);
    font: var(--body-md);
}

.text-header{
    font: var(--heading-sm);
    color: var(--text-heading);
}

#about-event .about-text{
    display: flex;
    flex-direction: row;

    align-self: end;

    img{
        padding-right: 10px;
    }
}


/* Botões de Tipo */
#button-type{
    display: flex;

    flex: 1;
    height: 100%;
    
    border: 1px solid var(--input-stroke);
    border-radius: 6px;

    label{
        display: flex;
        align-items: center;
        justify-content: center;

        position: relative;

        width: 100%;
        height: 100%;

        text-align: center;

        z-index: 1;
    }
    
    #div-hover{
        position: absolute;
        width: 100%;
        height: 80%;
        border-radius: 5px;
        background-color:var(--shape-hover);
        z-index: -1;
    }

    input[type="radio"] {
        display: none;
    }

}

/* Animação de marcação de botão */
#button-type:has(#presential:checked) #div-hover {
    transition: left 0.25s ease;
    left: 2%;
 }
#button-type:has(#online:checked) #div-hover {
    transition: left 0.25s ease;
    left: 97%; 
}



/* Animação do icone mudando de cor */

#presential-icon::before{
    content: url(../assets/building-2\ -\ unchecked.svg);
    padding: 5px;
    vertical-align: middle;
}

#online-icon::before{
    content: url(../assets/video-unchecked.svg);
    padding: 5px;
    vertical-align: middle;
}

#button-type:has(#presential:checked){
    #presential-icon::before{
        content: url(../assets/building-checked.svg);
    }
}
#button-type:has(#online:checked){
    #online-icon::before{
        content: url(../assets/video-checked-\ Copia.svg);
    }
}



textarea{
    border: 1px solid var(--input-stroke);
    background-color: var(--input-base);
    padding: 6px;
    border-radius: 6px;
    height: 150px;
    resize: none;
}

#body-form{
    display: flex;
    flex-direction: column;
    padding-left: 130px;
    padding-right: 130px;

    background-color: var(--shape-body);
    border-radius: 10px;
    margin-left: 10px;
    padding-block: 80px;
}

#invite{
    font: var(--heading-md);
    color: var(--text-heading);

}

#about-event{
    display: grid;
    gap: 1rem;

    grid-template: 
    "about-space about-space" 
    "name-space name-space" 
    "start-space end-space" 
    "type-space local-space"  
    "description-space description-space";
    
    grid-template-columns: 1fr 1fr;

    > *{
        display: flex;
        flex-direction: column;
    }

    #about-space{grid-area: about-space;}
    #name-space{grid-area: name-space;}
    #start-space{grid-area: start-space;}
    #end-space{grid-area: end-space;}
    #type-space{grid-area: type-space;}
    #local-space{grid-area: local-space;}
    #description-space{grid-area: description-space;}
}

/* Area de customização */

#customization{
    display: grid;
    grid-template-rows: repeat(4, 1fr);

    h2{
        font: var(--heading-sm);
        color: white;

    }

    h2::before{
        content: url(../assets/paintbrush-vertical.svg );
        width: 24px;
        height: 24px;
    }
}
